li {
  color: #15023a;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
}
.check {
  color: #59b256;
  font-size: 15px;
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  .check {
    font-size: 10px;
  }
  li {
    font-size: 10px;
  }
}
